header {
	background-color: #f2cc24;
}

h1, h2 {
	padding-left: 250px;
	font-size: 95%;
	top: 15px;
	bottom: 15px;
}

main {
	/*padding-left: 250px;
	padding-right: 20px;
	padding-top: 10px;*/
}

.card {
	display: inline-block;
}

img {
	display: inline-block;
	height: 300px;
	width: 300px;
/*	padding-right: 20px;
	padding-top: 10px;*/
}

.caption {
	display: inline-block;
	width: 300px;
	border: 1px solid #f4f4f4;
}